Raspberry pi/PiUno/Flow - node-red/game.json
[{"id":"4417cdbe.ca4ba4","type":"tab","label":"Game","disabled":false,"info":"fsdf"},{"id":"61965841.274218","type":"mqtt out","z":"4417cdbe.ca4ba4","name":"","topic":"/piUno/server/codeCouleur","qos":"","retain":"","broker":"a666b8c5.7024d8","x":1180,"y":300,"wires":[]},{"id":"be06b8f4.2e7068","type":"trigger","z":"4417cdbe.ca4ba4","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button vert","x":290,"y":200,"wires":[["ad8b53ad.28a3c"]]},{"id":"bb4ddac9.ff5d58","type":"trigger","z":"4417cdbe.ca4ba4","op1":"1","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button noir","x":290,"y":240,"wires":[["ad8b53ad.28a3c"]]},{"id":"d25359ae.5e1ed8","type":"trigger","z":"4417cdbe.ca4ba4","op1":"2","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button blanc","x":290,"y":280,"wires":[["ad8b53ad.28a3c"]]},{"id":"d46d877b.11f3b8","type":"trigger","z":"4417cdbe.ca4ba4","op1":"3","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button bleu","x":290,"y":320,"wires":[["ad8b53ad.28a3c"]]},{"id":"8663db01.33aa18","type":"trigger","z":"4417cdbe.ca4ba4","op1":"4","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button rouge","x":290,"y":360,"wires":[["ad8b53ad.28a3c"]]},{"id":"ffe16f5b.de529","type":"trigger","z":"4417cdbe.ca4ba4","op1":"5","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"button jaune","x":290,"y":400,"wires":[["ad8b53ad.28a3c"]]},{"id":"194990c2.7ce72f","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Vert","pin":"40","intype":"down","debounce":"25","read":false,"x":100,"y":200,"wires":[["be06b8f4.2e7068"]]},{"id":"b4a84ea4.4cdc8","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Noir","pin":"38","intype":"down","debounce":"25","read":false,"x":100,"y":240,"wires":[["bb4ddac9.ff5d58"]]},{"id":"10abf57b.844f8b","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Blanc","pin":"37","intype":"down","debounce":"25","read":false,"x":110,"y":280,"wires":[["d25359ae.5e1ed8"]]},{"id":"a03a9e08.d2b5","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Bleu","pin":"36","intype":"down","debounce":"25","read":false,"x":110,"y":320,"wires":[["d46d877b.11f3b8"]]},{"id":"9fe3ae5f.4556e","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Rouge","pin":"35","intype":"down","debounce":"25","read":false,"x":110,"y":360,"wires":[["8663db01.33aa18"]]},{"id":"e403d7b7.d1ec78","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Button Jaune","pin":"33","intype":"down","debounce":"25","read":false,"x":110,"y":400,"wires":[["ffe16f5b.de529"]]},{"id":"ad8b53ad.28a3c","type":"join","z":"4417cdbe.ca4ba4","name":"code","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":300,"wires":[["70ab0912.fa22d8","46f27172.c53378"]]},{"id":"5037d834.2eb9a8","type":"rpi-gpio out","z":"4417cdbe.ca4ba4","name":"LED Validation","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1020,"y":700,"wires":[]},{"id":"ca517470.10b0f8","type":"rpi-gpio out","z":"4417cdbe.ca4ba4","name":"LED error","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1000,"y":640,"wires":[]},{"id":"248e617e.ac71de","type":"mqtt in","z":"4417cdbe.ca4ba4","name":"","topic":"/server/piUno/ledError","qos":"0","datatype":"json","broker":"a666b8c5.7024d8","x":400,"y":640,"wires":[["1e0f1768.4a6689"]]},{"id":"dd107267.c10fb","type":"mqtt in","z":"4417cdbe.ca4ba4","name":"","topic":"/server/piUno/ledValidation","qos":"0","datatype":"auto","broker":"a666b8c5.7024d8","x":410,"y":700,"wires":[["7e24fefc.a93fd"]]},{"id":"70ab0912.fa22d8","type":"change","z":"4417cdbe.ca4ba4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"code\": msg.payload}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[["61965841.274218"]]},{"id":"1e0f1768.4a6689","type":"change","z":"4417cdbe.ca4ba4","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":640,"wires":[["757a109c.61424"]]},{"id":"730ac68d.2bca68","type":"inject","z":"4417cdbe.ca4ba4","name":"","topic":"","payload":"{\"reset\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["9241c93b.ac1748"]]},{"id":"9241c93b.ac1748","type":"function","z":"4417cdbe.ca4ba4","name":"Set msg.reset to true","func":"msg.reset = msg.payload.reset;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["ad8b53ad.28a3c","33f2cda6.3f7252"]]},{"id":"33f2cda6.3f7252","type":"debug","z":"4417cdbe.ca4ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":160,"wires":[]},{"id":"33c58125.b9e54e","type":"trigger","z":"4417cdbe.ca4ba4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":810,"y":700,"wires":[["5037d834.2eb9a8"]]},{"id":"7e24fefc.a93fd","type":"change","z":"4417cdbe.ca4ba4","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":700,"wires":[["33c58125.b9e54e"]]},{"id":"46b5ac17.633494","type":"mqtt in","z":"4417cdbe.ca4ba4","name":"","topic":"/server/piUno/reset/all/button","qos":"0","datatype":"json","broker":"a666b8c5.7024d8","x":240,"y":120,"wires":[["9241c93b.ac1748"]]},{"id":"757a109c.61424","type":"trigger","z":"4417cdbe.ca4ba4","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":810,"y":640,"wires":[["ca517470.10b0f8"]]},{"id":"bfeb8624.dcc77","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Ping Button","pin":"31","intype":"down","debounce":"25","read":false,"x":130,"y":560,"wires":[["bfa4a000.9264d8","275f9e8d.1db38a"]]},{"id":"8cb03ab0.63ef68","type":"switch","z":"4417cdbe.ca4ba4","name":"Ping OK","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":632,"y":564,"wires":[["79e40766.e08098"],["59e4a9e.b25a858"]]},{"id":"9eff53b2.709c88","type":"delay","z":"4417cdbe.ca4ba4","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":483,"y":563,"wires":[["8cb03ab0.63ef68","5476bb4e.3ccecc"]]},{"id":"79e40766.e08098","type":"trigger","z":"4417cdbe.ca4ba4","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"True","x":804.5,"y":538,"wires":[["5037d834.2eb9a8"]]},{"id":"59e4a9e.b25a858","type":"trigger","z":"4417cdbe.ca4ba4","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"False","x":805.5,"y":575,"wires":[["ca517470.10b0f8"]]},{"id":"bfa4a000.9264d8","type":"conf ping","z":"4417cdbe.ca4ba4","name":"","host":"8.8.8.8","timeout":"5","requests":"1","x":315,"y":565,"wires":[["9eff53b2.709c88"]]},{"id":"8a6c2dab.6873a","type":"rpi-gpio in","z":"4417cdbe.ca4ba4","name":"Reset Connection","pin":"13","intype":"down","debounce":"25","read":false,"x":130,"y":820,"wires":[["c94b8a0.74bb5f8"]]},{"id":"90d3009c.08ddb8","type":"debug","z":"4417cdbe.ca4ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":820,"wires":[]},{"id":"4ed8f8d3.1603b","type":"exec","z":"4417cdbe.ca4ba4","command":"/home/pi/_qmi.sh boot","addpay":false,"append":"","useSpawn":"true","timer":"60","oldrc":false,"name":"","x":537.5,"y":820,"wires":[["90d3009c.08ddb8"],["90d3009c.08ddb8"],["90d3009c.08ddb8"]]},{"id":"c94b8a0.74bb5f8","type":"delay","z":"4417cdbe.ca4ba4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.5,"y":820,"wires":[["4ed8f8d3.1603b"]]},{"id":"5476bb4e.3ccecc","type":"debug","z":"4417cdbe.ca4ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":500,"wires":[]},{"id":"46f27172.c53378","type":"debug","z":"4417cdbe.ca4ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":380,"wires":[]},{"id":"275f9e8d.1db38a","type":"ip","z":"4417cdbe.ca4ba4","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":true,"x":320,"y":520,"wires":[["5476bb4e.3ccecc"]]},{"id":"a666b8c5.7024d8","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]