Raspberry pi/PiTres/Flow - node-red/game.json
[{"id":"fac989c6.b1fde","type":"tab","label":"Game","disabled":false,"info":""},{"id":"cb095176.5f9ac8","type":"mqtt out","z":"fac989c6.b1fde","name":"","topic":"/piTres/server/digiCode","qos":"","retain":"","broker":"ff2c6fbc.7055d","x":1217,"y":198,"wires":[]},{"id":"3a53bc2e.fba2f4","type":"join","z":"fac989c6.b1fde","name":"code","mode":"custom","build":"string","property":"payload.key","propertyType":"msg","key":"payload","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":808,"y":198,"wires":[["29bb4ac4.28b95e","5cd88572.deb134"]]},{"id":"29bb4ac4.28b95e","type":"change","z":"fac989c6.b1fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"code\": msg.payload.key}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":198,"wires":[["cb095176.5f9ac8","5cd88572.deb134"]]},{"id":"28b73d37.794632","type":"inject","z":"fac989c6.b1fde","name":"","topic":"","payload":"{\"reset\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201,"y":107,"wires":[["5d92d8d2.99b638"]]},{"id":"5d92d8d2.99b638","type":"function","z":"fac989c6.b1fde","name":"Set msg.reset to true","func":"msg.reset = msg.payload.reset;\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":95,"wires":[["3a53bc2e.fba2f4","5bf10389.03a414"]]},{"id":"5bf10389.03a414","type":"debug","z":"fac989c6.b1fde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":733,"y":95,"wires":[]},{"id":"93c3eb93.a8294","type":"mqtt in","z":"fac989c6.b1fde","name":"","topic":"/server/piTres/reset/all/button","qos":"0","datatype":"json","broker":"ff2c6fbc.7055d","x":158,"y":55,"wires":[["5d92d8d2.99b638"]]},{"id":"3b6c87f5.d2ec1","type":"rpi-gpio in","z":"fac989c6.b1fde","name":"Ping Button","pin":"29","intype":"down","debounce":"25","read":false,"x":110,"y":367,"wires":[["66a67530.b4cfbc","1646cb4d.e3920d"]]},{"id":"5336c4cd.f6019c","type":"rpi-gpio out","z":"fac989c6.b1fde","name":"LED Validation","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1312,"y":556,"wires":[]},{"id":"12333086.011ba7","type":"rpi-gpio out","z":"fac989c6.b1fde","name":"LED error","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1315,"y":596,"wires":[]},{"id":"62b6fbf.70bf304","type":"mqtt in","z":"fac989c6.b1fde","name":"","topic":"/server/piTres/ledError","qos":"0","datatype":"json","broker":"a2f9edd1.6604","x":386,"y":598,"wires":[["c7dd477b.cf4dc8"]]},{"id":"2f659cd7.76585c","type":"mqtt in","z":"fac989c6.b1fde","name":"","topic":"/server/piTres/ledValidation","qos":"0","datatype":"auto","broker":"a2f9edd1.6604","x":387,"y":540,"wires":[["a084c9cc.6570d8"]]},{"id":"c7dd477b.cf4dc8","type":"change","z":"fac989c6.b1fde","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":616,"y":598,"wires":[["63c778e0.5ba6b8"]]},{"id":"a932fc3b.4db928","type":"trigger","z":"fac989c6.b1fde","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1077,"y":558,"wires":[["5336c4cd.f6019c"]]},{"id":"a084c9cc.6570d8","type":"change","z":"fac989c6.b1fde","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":607,"y":540,"wires":[["5e437cee.c7b46c"]]},{"id":"178cfdeb.5b7c12","type":"trigger","z":"fac989c6.b1fde","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1081,"y":594,"wires":[["12333086.011ba7"]]},{"id":"5cd88572.deb134","type":"debug","z":"fac989c6.b1fde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1057,"y":327,"wires":[]},{"id":"4a5d1584.fb840c","type":"switch","z":"fac989c6.b1fde","name":"Ping OK","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":631,"y":470,"wires":[["b3794a8c.81c23"],["df7f7a62.454c2"]]},{"id":"a92262af.a6a658","type":"delay","z":"fac989c6.b1fde","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":482,"y":469,"wires":[["4a5d1584.fb840c"]]},{"id":"b3794a8c.81c23","type":"trigger","z":"fac989c6.b1fde","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"True","x":803.5,"y":444,"wires":[["5336c4cd.f6019c"]]},{"id":"df7f7a62.454c2","type":"trigger","z":"fac989c6.b1fde","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"False","x":804.5,"y":481,"wires":[["12333086.011ba7"]]},{"id":"66a67530.b4cfbc","type":"conf ping","z":"fac989c6.b1fde","name":"","host":"8.8.8.8","timeout":"5","requests":"1","x":314,"y":471,"wires":[["a92262af.a6a658"]]},{"id":"79fc9efd.92e8a8","type":"debug","z":"fac989c6.b1fde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":809.5,"y":261,"wires":[]},{"id":"68395412.db4674","type":"rpi-gpio in","z":"fac989c6.b1fde","name":"Reset Connection","pin":"16","intype":"down","debounce":"25","read":false,"x":150,"y":711,"wires":[["de0f2b75.46654"]]},{"id":"6cbb9b66.1d9554","type":"debug","z":"fac989c6.b1fde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":854,"y":713,"wires":[]},{"id":"19098d55.365bcb","type":"exec","z":"fac989c6.b1fde","command":"/home/pi/_qmi.sh boot > /home/pi/modem.log 2>&1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reset modem","x":527.5,"y":711,"wires":[["6cbb9b66.1d9554"],["6cbb9b66.1d9554"],["6cbb9b66.1d9554"]]},{"id":"de0f2b75.46654","type":"delay","z":"fac989c6.b1fde","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":338.5,"y":711,"wires":[["19098d55.365bcb"]]},{"id":"1646cb4d.e3920d","type":"pythonshell in","z":"fac989c6.b1fde","name":"","pyfile":"/home/pi/pad.py","virtualenv":"","continuous":true,"stdInData":false,"x":332,"y":197,"wires":[["fbe128e8.d0ee7"]]},{"id":"fbe128e8.d0ee7","type":"json","z":"fac989c6.b1fde","name":"","property":"payload","action":"","pretty":false,"x":570,"y":197,"wires":[["3a53bc2e.fba2f4","79fc9efd.92e8a8","2cc841b6.9db8b6"]]},{"id":"2cc841b6.9db8b6","type":"trigger","z":"fac989c6.b1fde","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"150","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":779,"y":368,"wires":[["5336c4cd.f6019c","12333086.011ba7"]]},{"id":"63c778e0.5ba6b8","type":"delay","z":"fac989c6.b1fde","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":814,"y":592,"wires":[["178cfdeb.5b7c12"]]},{"id":"5e437cee.c7b46c","type":"delay","z":"fac989c6.b1fde","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":543,"wires":[["a932fc3b.4db928"]]},{"id":"aeafec35.e0fd4","type":"inject","z":"fac989c6.b1fde","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":952,"y":65,"wires":[["f3be109e.3b8a2"]]},{"id":"f3be109e.3b8a2","type":"rpi-gpio out","z":"fac989c6.b1fde","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":1139,"y":68,"wires":[]},{"id":"ff2c6fbc.7055d","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2f9edd1.6604","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]