Raspberry/PiDos/Flow - node-red/distance.json
[{"id":"2d8e6b9e.540664","type":"tab","label":"Distance","disabled":false,"info":""},{"id":"fa7ea7cc.faa3d8","type":"rpi-srf","z":"2d8e6b9e.540664","name":"","topic":"SRF","pulse":"0.3","pins":"7,11","x":97,"y":281,"wires":[["89a10352.74444","5ab04b3c.e4e7c4"]]},{"id":"227dedcf.f29bd2","type":"mqtt out","z":"2d8e6b9e.540664","name":"","topic":"/piDos/server/piTres/distance","qos":"","retain":"","broker":"360bf85c.fa1548","x":930.5,"y":274,"wires":[]},{"id":"89a10352.74444","type":"switch","z":"2d8e6b9e.540664","name":"Distance mesure","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"80","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":276.5,"y":279,"wires":[["f52c5b0a.6b2338"]]},{"id":"f1e9137b.9203d","type":"rpi-gpio out","z":"2d8e6b9e.540664","name":"Green Led","pin":"31","set":true,"level":"0","freq":"","out":"out","x":870,"y":203,"wires":[]},{"id":"85a08b1a.d1d4e8","type":"rpi-gpio out","z":"2d8e6b9e.540664","name":"Red Led","pin":"32","set":true,"level":"0","freq":"","out":"out","x":856,"y":150,"wires":[]},{"id":"f52c5b0a.6b2338","type":"change","z":"2d8e6b9e.540664","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.5,"y":279,"wires":[["f1e9137b.9203d","227dedcf.f29bd2","31b6789d.76b458"]]},{"id":"97d0b4e6.62b798","type":"mqtt in","z":"2d8e6b9e.540664","name":"","topic":"/server/piDos/distance","qos":"0","datatype":"auto","broker":"9ee42e77.df1bc","x":169,"y":149,"wires":[["85a08b1a.d1d4e8","e6528577.d7c4e8"]]},{"id":"e6528577.d7c4e8","type":"change","z":"2d8e6b9e.540664","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":478,"y":202,"wires":[["f1e9137b.9203d"]]},{"id":"31b6789d.76b458","type":"change","z":"2d8e6b9e.540664","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":687,"y":110,"wires":[["85a08b1a.d1d4e8"]]},{"id":"5ab04b3c.e4e7c4","type":"debug","z":"2d8e6b9e.540664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":269.5,"y":387,"wires":[]},{"id":"360bf85c.fa1548","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ee42e77.df1bc","type":"mqtt-broker","z":"","name":"","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]