Raspberry/PiDos/Flow - node-red/game.json
[{"id":"1a244bdc.b9e854","type":"tab","label":"Game","disabled":false,"info":""},{"id":"220f90cd.5159f","type":"daemon","z":"1a244bdc.b9e854","name":"RFIDReader","command":"python","args":"-u /home/pi/pi-rc522/examples/RFID.py","autorun":true,"cr":true,"redo":true,"op":"string","x":141,"y":113,"wires":[["ae2a8a53.80e868"],[],[]]},{"id":"dc731a09.af2fe8","type":"mqtt out","z":"1a244bdc.b9e854","name":"","topic":"/piDos/server/RFID","qos":"1","retain":"","broker":"360bf85c.fa1548","x":524.5,"y":108,"wires":[]},{"id":"ae2a8a53.80e868","type":"json","z":"1a244bdc.b9e854","name":"","property":"payload","action":"","pretty":false,"x":321.5,"y":100,"wires":[["dc731a09.af2fe8","f2c29ae0.521d08"]]},{"id":"cf5fd760.d8d08","type":"mqtt in","z":"1a244bdc.b9e854","name":"","topic":"/server/piDos/ledError","qos":"0","datatype":"auto","broker":"360bf85c.fa1548","x":115,"y":292,"wires":[["accc854a.a193b8"]]},{"id":"c90c036c.710d9","type":"mqtt in","z":"1a244bdc.b9e854","name":"","topic":"/server/piDos/ledValidation","qos":"0","datatype":"auto","broker":"360bf85c.fa1548","x":131,"y":238,"wires":[["965a8485.57e118"]]},{"id":"4c92ac98.76371c","type":"rpi-gpio out","z":"1a244bdc.b9e854","name":"Green Led","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1061,"y":238,"wires":[]},{"id":"5ddb13aa.1bdd8c","type":"rpi-gpio out","z":"1a244bdc.b9e854","name":"Red Led","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1049,"y":295,"wires":[]},{"id":"965a8485.57e118","type":"json","z":"1a244bdc.b9e854","name":"","property":"payload","action":"","pretty":false,"x":335,"y":238,"wires":[["3c8ce700.4cc022"]]},{"id":"accc854a.a193b8","type":"json","z":"1a244bdc.b9e854","name":"","property":"payload","action":"","pretty":false,"x":334,"y":293,"wires":[["17b6da85.04ee95"]]},{"id":"3c8ce700.4cc022","type":"change","z":"1a244bdc.b9e854","name":"","rules":[{"t":"move","p":"payload.led","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":238,"wires":[["2c18bb.339ff746"]]},{"id":"17b6da85.04ee95","type":"change","z":"1a244bdc.b9e854","name":"","rules":[{"t":"move","p":"payload.led","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":293,"wires":[["ffdc74b8.2a2188"]]},{"id":"ffdc74b8.2a2188","type":"trigger","z":"1a244bdc.b9e854","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":801,"y":294,"wires":[["5ddb13aa.1bdd8c"]]},{"id":"2c18bb.339ff746","type":"trigger","z":"1a244bdc.b9e854","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":799,"y":238,"wires":[["4c92ac98.76371c"]]},{"id":"c98aa528.2d4148","type":"rpi-gpio in","z":"1a244bdc.b9e854","name":"connection checker","pin":"29","intype":"down","debounce":"25","read":false,"x":134.5,"y":371,"wires":[["a5c459c1.786e18"]]},{"id":"a5c459c1.786e18","type":"conf ping","z":"1a244bdc.b9e854","name":"","host":"8.8.8.8","timeout":"5","requests":"1","x":314.5,"y":372,"wires":[["2ac0b048.b251"]]},{"id":"c4852baf.916ea8","type":"switch","z":"1a244bdc.b9e854","name":"Ping OK","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":631.5,"y":371,"wires":[["916e8dff.98419"],["fb0ccb9c.488818"]]},{"id":"2ac0b048.b251","type":"delay","z":"1a244bdc.b9e854","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":482.5,"y":370,"wires":[["c4852baf.916ea8"]]},{"id":"916e8dff.98419","type":"trigger","z":"1a244bdc.b9e854","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"True","x":804,"y":345,"wires":[["4c92ac98.76371c"]]},{"id":"fb0ccb9c.488818","type":"trigger","z":"1a244bdc.b9e854","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"False","x":805,"y":382,"wires":[["5ddb13aa.1bdd8c"]]},{"id":"f2c29ae0.521d08","type":"is online","z":"1a244bdc.b9e854","name":"","url":"tlmz.myqnapcloud.com","action":"2","x":494.5,"y":169,"wires":[["eb750549.425038","ae2d38fb.5de32"]]},{"id":"eb750549.425038","type":"debug","z":"1a244bdc.b9e854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810.5,"y":129,"wires":[]},{"id":"ae2d38fb.5de32","type":"trigger","z":"1a244bdc.b9e854","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":780.5,"y":193,"wires":[["5ddb13aa.1bdd8c"]]},{"id":"f7757f6c.ec761","type":"rpi-gpio in","z":"1a244bdc.b9e854","name":"Reset Connection","pin":"40","intype":"down","debounce":"25","read":false,"x":142.5,"y":538,"wires":[["a3e0e8f5.4a6888"]]},{"id":"8fe9e0e3.bef79","type":"debug","z":"1a244bdc.b9e854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840.5,"y":540,"wires":[]},{"id":"7542365c.694138","type":"exec","z":"1a244bdc.b9e854","command":"/home/pi/_qmi.sh boot > /home/pi/modem.log 2>&1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reset modem","x":530,"y":538,"wires":[["8fe9e0e3.bef79"],["8fe9e0e3.bef79"],["8fe9e0e3.bef79"]]},{"id":"a3e0e8f5.4a6888","type":"delay","z":"1a244bdc.b9e854","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331,"y":538,"wires":[["7542365c.694138"]]},{"id":"ce537a38.9fa448","type":"inject","z":"1a244bdc.b9e854","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133.5,"y":605,"wires":[["a3e0e8f5.4a6888"]]},{"id":"360bf85c.fa1548","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]