Raspberry/PiTres/Flow - node-red/distance.json
[{"id":"75848df9.be2924","type":"tab","label":"Distance","disabled":false,"info":""},{"id":"4a206b62.e386f4","type":"rpi-srf","z":"75848df9.be2924","name":"distance","topic":"","pulse":"0.3","pins":"7,11","x":122,"y":288,"wires":[["894143bf.df4bb"]]},{"id":"e957d276.50a3b","type":"mqtt in","z":"75848df9.be2924","name":"","topic":"/server/piTres/distance","qos":"0","datatype":"auto","broker":"4fa36361.c2af4c","x":154.5,"y":156,"wires":[["6d362148.6abfb","4b96d378.9bfb9c"]]},{"id":"179d7780.2db409","type":"mqtt out","z":"75848df9.be2924","name":"","topic":"/piTres/piDos/distance","qos":"","retain":"","broker":"763b5a47.f90f64","x":972,"y":285,"wires":[]},{"id":"894143bf.df4bb","type":"switch","z":"75848df9.be2924","name":"Distance mesure","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"80","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":318,"y":289,"wires":[["791ea28f.c0a16c"]]},{"id":"791ea28f.c0a16c","type":"change","z":"75848df9.be2924","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":522,"y":288,"wires":[["179d7780.2db409","6d2fe6f2.a1ae78","683f3878.4e0c18"]]},{"id":"6d362148.6abfb","type":"change","z":"75848df9.be2924","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.5,"y":208,"wires":[["683f3878.4e0c18"]]},{"id":"6d2fe6f2.a1ae78","type":"change","z":"75848df9.be2924","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":725.5,"y":92,"wires":[["4b96d378.9bfb9c"]]},{"id":"683f3878.4e0c18","type":"rpi-gpio out","z":"75848df9.be2924","name":"LED Validation","pin":"31","set":true,"level":"0","freq":"","out":"out","x":923,"y":204,"wires":[]},{"id":"4b96d378.9bfb9c","type":"rpi-gpio out","z":"75848df9.be2924","name":"LED error","pin":"32","set":true,"level":"0","freq":"","out":"out","x":903,"y":153,"wires":[]},{"id":"4fa36361.c2af4c","type":"mqtt-broker","z":"","name":"","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"763b5a47.f90f64","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]