Raspberry/PiTres/Flow - node-red/game.json
[{"id":"3ba5beb3.5a3dca","type":"tab","label":"Game","disabled":false,"info":""},{"id":"253c3bd7.357144","type":"mqtt out","z":"3ba5beb3.5a3dca","name":"","topic":"/piTres/server/digiCode","qos":"","retain":"","broker":"654e4b61.e4b3b4","x":1124,"y":198,"wires":[]},{"id":"545ef027.b62648","type":"join","z":"3ba5beb3.5a3dca","name":"code","mode":"custom","build":"string","property":"payload.key","propertyType":"msg","key":"payload","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":715,"y":198,"wires":[["3c2041d6.72cd7e"]]},{"id":"3c2041d6.72cd7e","type":"change","z":"3ba5beb3.5a3dca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"code\": msg.payload.key}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":885,"y":198,"wires":[["253c3bd7.357144"]]},{"id":"cb3cabfe.9bafe8","type":"inject","z":"3ba5beb3.5a3dca","name":"","topic":"","payload":"{\"reset\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":126,"wires":[["26ce91c2.fb031e"]]},{"id":"26ce91c2.fb031e","type":"function","z":"3ba5beb3.5a3dca","name":"Set msg.reset to true","func":"msg.reset = msg.payload.reset;\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":114,"wires":[["545ef027.b62648","52284872.a5909"]]},{"id":"52284872.a5909","type":"debug","z":"3ba5beb3.5a3dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":724,"y":112,"wires":[]},{"id":"cad5f32a.3cb8e","type":"mqtt in","z":"3ba5beb3.5a3dca","name":"","topic":"/server/piTres/reset/all/button","qos":"0","datatype":"json","broker":"654e4b61.e4b3b4","x":179,"y":74,"wires":[["26ce91c2.fb031e"]]},{"id":"b1efac10.6f38f","type":"rpi-gpio in","z":"3ba5beb3.5a3dca","name":"Ping Button","pin":"29","intype":"down","debounce":"25","read":false,"x":131,"y":316,"wires":[["ba449c85.0fc4b"]]},{"id":"74c929d5.8b277","type":"rpi-gpio out","z":"3ba5beb3.5a3dca","name":"LED Validation","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1116,"y":274,"wires":[]},{"id":"cd67a421.88fd4","type":"rpi-gpio out","z":"3ba5beb3.5a3dca","name":"LED error","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1100,"y":322,"wires":[]},{"id":"469be11b.20854","type":"mqtt in","z":"3ba5beb3.5a3dca","name":"","topic":"/server/piTres/ledError","qos":"0","datatype":"json","broker":"bbaf6ddb.86024","x":361,"y":442,"wires":[["9aad332d.50783"]]},{"id":"4e5aa014.22af98","type":"mqtt in","z":"3ba5beb3.5a3dca","name":"","topic":"/server/piTres/ledValidation","qos":"0","datatype":"auto","broker":"bbaf6ddb.86024","x":362,"y":384,"wires":[["fd1b5d2e.06f058"]]},{"id":"9aad332d.50783","type":"change","z":"3ba5beb3.5a3dca","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":442,"wires":[["58ac49e1.a793c"]]},{"id":"5015fe87.b76c","type":"trigger","z":"3ba5beb3.5a3dca","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":935,"y":396,"wires":[["74c929d5.8b277"]]},{"id":"fd1b5d2e.06f058","type":"change","z":"3ba5beb3.5a3dca","name":"msg.payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":582,"y":384,"wires":[["9ba86d9c.030918"]]},{"id":"6a949517.6fc66c","type":"trigger","z":"3ba5beb3.5a3dca","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":939,"y":432,"wires":[["cd67a421.88fd4"]]},{"id":"10e3a877.e7329","type":"switch","z":"3ba5beb3.5a3dca","name":"Ping OK","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":606,"y":314,"wires":[["92110c69.323f78"],["7f1bca50.84279c"]]},{"id":"6c5aa14e.9b5d6","type":"delay","z":"3ba5beb3.5a3dca","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":457,"y":313,"wires":[["10e3a877.e7329"]]},{"id":"92110c69.323f78","type":"trigger","z":"3ba5beb3.5a3dca","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"True","x":778.5,"y":288,"wires":[["74c929d5.8b277"]]},{"id":"7f1bca50.84279c","type":"trigger","z":"3ba5beb3.5a3dca","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"False","x":779.5,"y":325,"wires":[["cd67a421.88fd4"]]},{"id":"ba449c85.0fc4b","type":"conf ping","z":"3ba5beb3.5a3dca","name":"","host":"8.8.8.8","timeout":"5","requests":"1","x":289,"y":315,"wires":[["6c5aa14e.9b5d6"]]},{"id":"24dc7b5c.f0561c","type":"debug","z":"3ba5beb3.5a3dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740.5,"y":150,"wires":[]},{"id":"a912bf7c.7d6e88","type":"rpi-gpio in","z":"3ba5beb3.5a3dca","name":"Reset Connection","pin":"16","intype":"down","debounce":"25","read":false,"x":134,"y":519,"wires":[["d93aca45.c72c4"]]},{"id":"56070b85.a4d72c","type":"debug","z":"3ba5beb3.5a3dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838,"y":521,"wires":[]},{"id":"7151ce47.e533a","type":"exec","z":"3ba5beb3.5a3dca","command":"/home/pi/_qmi.sh boot > /home/pi/modem.log 2>&1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reset modem","x":511.5,"y":519,"wires":[["56070b85.a4d72c"],["56070b85.a4d72c"],["56070b85.a4d72c"]]},{"id":"d93aca45.c72c4","type":"delay","z":"3ba5beb3.5a3dca","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":322.5,"y":519,"wires":[["7151ce47.e533a"]]},{"id":"d29fefaf.4a31f","type":"json","z":"3ba5beb3.5a3dca","name":"","property":"payload","action":"","pretty":false,"x":570,"y":197,"wires":[["545ef027.b62648","24dc7b5c.f0561c","416d990.fbf5ae8"]]},{"id":"416d990.fbf5ae8","type":"trigger","z":"3ba5beb3.5a3dca","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"150","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":744,"y":246,"wires":[["74c929d5.8b277","cd67a421.88fd4"]]},{"id":"58ac49e1.a793c","type":"delay","z":"3ba5beb3.5a3dca","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":757,"y":438,"wires":[["6a949517.6fc66c"]]},{"id":"9ba86d9c.030918","type":"delay","z":"3ba5beb3.5a3dca","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":763,"y":389,"wires":[["5015fe87.b76c"]]},{"id":"b43c89ce.0c3e88","type":"inject","z":"3ba5beb3.5a3dca","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":186,"y":199,"wires":[["bfd41ccd.10d7a8"]]},{"id":"bfd41ccd.10d7a8","type":"pythonshell in","z":"3ba5beb3.5a3dca","name":"","pyfile":"/home/pi/pad.py","virtualenv":"","continuous":true,"stdInData":false,"x":375.5,"y":198,"wires":[["d29fefaf.4a31f"]]},{"id":"654e4b61.e4b3b4","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bbaf6ddb.86024","type":"mqtt-broker","z":"","name":"Central Server","broker":"tlmz.myqnapcloud.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]